.login_content, .signup_content {
	display: flex;
	// justify-content: center;
	// align-items: center;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #dfe7ef;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	width: 500px;
}

.wrong {
	color: red;
	//position: relative;
}

.login_form, .signup_form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	justify-content: center;
}

// textarea {
// 	resize: vertical;
// 	width: 75%;
// 	box-sizing: border-box;
// 	height: 10rem;
// 	padding: 0.5rem 0.25rem;
// 	border: 2px solid red;
// 	border-radius: 0.5rem;
// 	min-height: 4rem;

// 	&:focus {
// 		outline: none;
// 		border: 2px solid rgb(21, 0, 255);
// 	}
// }

.form_wrong {
	color: red;
}

// .signup_avatar {
// 	padding: 1rem 0;

// 	#signup_avatar {
// 		width: 75%;
// 	}
// }

.username_area, .password_area, .login_area, .nickname_area, .avatar_area, .email_area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 5px;
}

// .password_area {

// 	position: relative;

// 	img {
// 		position: absolute;
// 		width: 16px;
// 		height: 16px;
// 		right: 0;
// 		margin-right: 8px;

// 		&:hover {
// 			cursor: pointer;
// 		}
// 	}
// }

.password_field {
	width: 100%;
}

.login_input, .signup_input {
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	padding: 6px 12px;
	border-radius: 8px;
	border: 2px solid #c4c4c4;
	transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px #4a90e2;
		border-color: #4a90e2;
	}
}

.login_buttons, .signup_buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	gap: 10px;

}

.main_form_button, .minor_form_button {
	width: 45%;
	min-width: 225px;
	height: 50px;
	font-size: 1rem;
	box-sizing: border-box;
	border-radius: 30px;
}

.main_form_button {
	background-color: rgb(0, 111, 238);
	color: white;
	border: 2px solid rgb(0, 111, 238);
}

.minor_form_button {
	background-color: white;
	color: rgb(0, 111, 238);
	border: 2px solid currentColor;
	text-align: center;
	line-height: 50px;
}