{% load static %}

<div class="answer">

	<aside class="answer_aside">

		<a href="#" class="answer_user" title="user profile">
			<img src="{% static "svg/user.svg" %}" alt="user" class="user">
		</a>

		<div class="rate">
			<button class="upvote" title="upvote">
				<img src="{% static "svg/arrow-up.svg" %}" alt="" class="arrow_up">
			</button>

			<span class="rating">{{ answer.likes }}</span>

			<button class="downvote" title="downvote">
				<img src="{% static "svg/arrow-down.svg" %}" alt="" class="arrow_down">
			</button>

		</div>

		<img src="{% static "svg/check-mark.svg" %}" alt="" class="marked" title="Marked as correct">

	</aside>

	<div class="answer_content">
		<p>{{ answer.text }}</p>

		{% if correct_answer_form %}
			<form method="post">
				{% csrf_token %}
				{{ correct_answer_form.correct }}
				{% comment %} <input type="checkbox" checked> {% endcomment %}
				<label for="">Correct!</label>
			</form>
		{% endif %}

	</div>
</div>