<aside class="content_aside">
    <div>

        <div class="popular_tags">
            <h2>POPULAR TAGS</h2>
            <div class="tags">
                <a href="{% url "tag" "Python" %}" style="text-decoration: none; color: red">Python</a>
                <a href="{% url "tag" "C++" %}" style="text-decoration: none; color: blue">C++</a>
                <a href="{% url "tag" "Rust" %}" style="text-decoration: none; color: green">Rust</a>
                <a href="{% url "tag" "Linux" %}" style="text-decoration: none; color: peru">Linux</a>
                <a href="{% url "tag" "Programming" %}" style="text-decoration: none; color: purple">Programming</a>
                <a href="{% url "tag" "Computer_science" %}" style="text-decoration: none; color: darkblue">Computer_science</a>
                <a href="{% url "tag" "Algorythms" %}" style="text-decoration: none; color: deeppink">Algorythms</a>
            </div>
        </div>

        <div class="best_members">
            <h2>BEST MEMBERS</h2>
            <div class="members">
                <a href="#" style="text-decoration: none; color: blueviolet;">KokInside</a>
                <a href="#" style="text-decoration: none; color: cornflowerblue;">Molokos</a>
                <a href="#" style="text-decoration: none; color: darkslategray;">Gleb</a>
                <a href="#" style="text-decoration: none; color: limegreen;">Roma_joludi</a>
                <a href="#" style="text-decoration: none; color: dodgerblue;">Induser</a>
                <a href="#" style="text-decoration: none; color: mediumblue;">Killer_228</a>
                <a href="#" style="text-decoration: none; color: seagreen;">Ashot</a>
            </div>
        </div>
		
    </div>
</aside>