{% comment %} <span class="wrong">Что-то определённо неправильно</span> {% endcomment %}

<form action="" class="ask_form" method="POST" novalidate>
	{% csrf_token %}

	{{ form.non_field_errors }}

	<div class="ask_question_title">
		<label for="title">Title</label>
		{% comment %} <input type="text" required id="title" minlength="15" maxlength="200"> {% endcomment %}
		{{ form.title }}
		{{ form.title.errors }}
	</div>

	{% comment %} <div class="form_wrong">Заголовок не может быть пустым</div> {% endcomment %}

	<div class="ask_question_text">
		<label for="text">Text</label>
		{% comment %} <textarea required id="text" minlength="220" maxlength="2000"></textarea> {% endcomment %}
		{{ form.text }}
		{{ form.text.errors }}
	</div>

	{% comment %} <div class="form_wrong">Тепло вопроса не может быть пустым</div> {% endcomment %}

	<div class="ask_question_tags">
		<label for="tags">Tags</label>
		{% comment %} <input type="text" required name="tags" id="tags"> {% endcomment %}

		{{ form.tags }}
		{{ form.tags.errors }}

	</div>

	{% comment %} <div class="form_wrong">Введите хотя бы один тег</div> {% endcomment %}

	<div class="ask_question_button">
		<input type="submit" value="ASK!">
	</div>

</form>