<header>

	<div class="logo">
		<a href="./index.html" aria-label="Главное меню">
			<img src="./static/svg/atom.svg" alt="Логотип" />
		</a>
	</div>

	<div class="search">
		<img src="./static/svg/search.svg" alt="" />
		<form action="">
			<input type="text" placeholder="Search" />
		</form>
	</div>

	<div class="ask_button">
		<a title="Задать вопрос" href="ask.html">ASK!</a>
	</div>

	<nav>
		<a href="./signup.html" class="register">Зарегистрироваться</a>
		<a href="./login.html" class="login">Войти</a>
	</nav>
	
</header>