{% load static %}

<header>

	<div class="logo">
		<a href="{% url "home" %}" aria-label="Главное меню">
			<img src="{% static "svg/atom.svg" %}" alt="Логотип" />
		</a>
	</div>

	<div class="search">
		<img src="{% static "svg/search.svg" %}" alt="" />

		<form action="">
			<input type="text" placeholder="Search" />
		</form>
	</div>

	<div class="ask_button">
		<a title="Задать вопрос" href="{% url "ask" %}">ASK!</a>
	</div>

	{% if registered %}

		{% comment %}
		Зарегистрированный пользователь
		{% endcomment %}

		<nav class="logged row">

			<div class="user_avatar">
				<a href="">
					<img src="{% static "svg/user.svg" %} " alt="" class="user_avatar_pic">
				</a>
			</div>

			<div class="logged_user_info column">

				<div class="nickname">
					KokInside
				</div>

				<div class="row">
					<a href="{% url "settings" %}">settings</a>
					<a href="{% url "home" %}">log out</a>
				</div>

			</div>

		</nav>
	{% else %}

		{% comment %} 
		Незарегистрированный пользователь
		{% endcomment %}

		<nav>
			<a href="{% url "signup" %}" class="register">Зарегистрироваться</a>
			<a href="{% url "login" %}" class="login">Войти</a>
		</nav>
	{% endif %}

	
</header>