<div class="paginator">
	<div class="pagination">

		{% for number in page_numbers %}
		
			{% if number == '…' %}
				<span>...</span>
			{% elif number == page.number %}
				<div class="pagination_page_{{number}} page_button">{{ number }}</div>
			{% else %}
				<a href="?page={{ number }}" class="pagination_page_{{number}} page_button">{{number}}</a>
			{% endif %}
		
		{% endfor %}
		
	</div>

	<div class="perpage pagination">
		<span>Per page</span>
		<a href="?&perpage=5" class="page_button perpage_5">5</a>
		<a href="?&perpage=10" class="page_button perpage_10">10</a>
		<a href="?&perpage=15" class="page_button perpage_15">15</a>
	</div>
</div>