{% load static %}

<div class="question">

    <aside class="question_aside">

        <a href="{% url "user_profile" question.author.username %}" class="question_user" title="user profile">
			{% if question.author.avatar %}
				<img src="{{ MEDIA_URL }}{{ question.author.avatar }}" alt="">
			{% else %}
				<img src="{% static "svg/user.svg" %}" alt="user" class="user">
			{% endif %}
        </a>

        <div class="rate">

            <button class="upvote" title="upvote" onclick="questionLike({{question.id}}, `{{csrf_token}}`)">
                <img src="{% static "svg/arrow-up.svg" %}" alt="" class="arrow_up">
            </button>

            <span id="{{ question.id }}--likes" class="rating">{{ question.likes }}</span>

            <button class="downvote" title="downvote" onclick="questionDislike({{question.id}}, `{{csrf_token}}`)">
                <img src="{% static "svg/arrow-down.svg" %}" alt="" class="arrow_down">
            </button>

        </div>
    </aside>

    <div class="question_content">

        <h3 class="question_header">
            <a href="{% url "question" question.id %}" style="text-decoration: none; color: rgb(0, 111, 238)">
                {{ question.title }}
            </a>
        </h3>

		{% comment %}question text{% endcomment %}
        <p>{{ question.text }}</p>

        <footer class="question_footer">

            <div class="answers_count">
                <a href="{% url "question" question.id %}#answers">Answers ({{ question.answer_set.count }})</a>
            </div>

            <div class="question_tags">
                Tags:

				{% for tag in question.tags.all %}
					<a href="/tag/{{tag}}">{{tag}}</a>
				{% endfor %}

            </div>
			
        </footer>

    </div>

</div>