{% load static %}

<form action="" class="settings_form login_form" method="GET">
	{% csrf_token %}

	<div class="login_area">
		<label for="settings_login">Login</label>
		{{ form.username }}
		{% comment %} <input class="login_input username_input settings_input" type="text" id="settings_login" value="KokInside" disabled maxlength="20" minlength="4"> {% endcomment %}
	</div>

	<div class="email_area">
		<label for="settings_email">Email</label>
		{{ form.email }}
		{% comment %} <input class="login_input email_input settings_input" type="email" id="settings_email" value="KokInside@gmail.com" disabled minlength="4"> {% endcomment %}
	</div>

	<div class="avatar_area">
		<label for="">Avatar</label>

		<div class="settings_avatar">

			{% if user.avatar %}
				<img src="{% get_media_prefix %}{{user.avatar}}" alt="">
			{% else %}
				<img src="{% static "svg/user.svg" %}" alt="">
			{% endif %}
			{% if edit_profile %}
				<input type="file" accept=".png, .jpg, .jpeg">
			{% endif %}
		</div>
	</div>

	{% comment %} <div>
		<input type="submit" value="Save" title="Сохранить" disabled>
	</div> {% endcomment %}
	{% comment %} <a href="{% url "edit_profile" %}"></a> {% endcomment %}
</form>