@use 'normalize';

@use 'fonts';

@use 'individual';

@use 'header';

@use 'question';
@use 'pagination';

@use 'form';

@use 'settings';

// main

body>main {
	padding-top: 5vh;
	padding-left: 8vh;
	padding-right: 5vh;
	padding-bottom: 5vh;
	// margin-top: 5vh;
	// margin-left: 5vw;
	// margin-right: 5vw;
	// margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5rem;
	min-height: 100vh;
	box-sizing: border-box;
}

.content {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	gap: 16px;
	position: relative;
}


.content_titles_container {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: start;
	gap: 16px;
}

.content_title {
	box-sizing: border-box;
}

.content_sub_title {
	box-sizing: border-box;
}

.content_aside {
	box-sizing: border-box;
	//padding-right: 20px;
	width: 25%;
	position: sticky;
	top: 0px;

	>div {
		position: sticky;
		top: 1rem;

		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

}

.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
	font-family: "Sour";
	a {
		color: red;
	}
}

.members {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
	font-family: "Sour";
	a {
		color: blue;
	}
}

body>footer {
	position: relative;
	bottom: 0;
	background-color: black;
	height: 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Sour";
	font-size: 2rem;
}


//----------------------------------

.to_top {
	width: 2rem;
	height: 2rem;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 10%;
	border: 2px solid black;

	img {
		width: 100%;
		height: 100%;
	}
}

//----------------------------------

.marked {
	width: 100%;
	margin-top: 1rem;
}

.answers {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.leave_answer {
	border-top: 2px solid black;
}

.leave_answer_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	textarea {
		width: 100%;
		max-width: 100%;
		resize: vertical;

		min-width: 260px;
		min-height: 10rem;
		max-height: 500px;
		box-sizing: border-box;
		padding: 5px;
		line-height: 1.5;
		font-size: 1rem;

		border-radius: 10px 10px 0px 10px;
	}

	input {
		margin-left: 0 !important;
	}

	.form_wrong {
		position: static;
	}
}