@font-face {
  font-family: "Sour";
  src: url(../fonts/SourGummy-VariableFont_wdth\,wght.ttf);
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
}

body > header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  border-bottom: 2px solid orange;
  border-top: 5px solid orange;
}
body > header .logo {
  height: 100%;
  padding: 5px;
  padding-left: 2%;
  box-sizing: border-box;
}
body > header .logo img {
  height: 100%;
  color: transparent;
}
body > header .search {
  position: relative;
  width: 35%;
  box-sizing: border-box;
}
body > header .search img {
  position: absolute;
  width: 16px;
  height: 16px;
  pointer-events: none;
  top: 50%;
  padding-left: 8px;
  transform: translateY(-50%);
}
body > header .search input {
  width: 100%;
  padding: 10px;
  padding-left: 28px;
  border-radius: 10px;
  border: 2px solid lightgray;
  box-sizing: border-box;
}
body > header .search input:focus {
  outline: none;
  border: 2px solid #1500ff;
}
body > header .ask_button {
  background-color: #0c81c9;
  width: 4rem;
  height: 50%;
  border: none;
  border-radius: 10px;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body > header .ask_button a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
body > header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 2.5%;
}
body > header nav a {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
body > header nav .register {
  color: white;
  background-color: #4266ea;
  border: 1px solid #4266ea;
}
body > header nav .login {
  color: #4266ea;
  background-color: white;
  border: 1px solid currentColor;
}

body > main {
  padding-left: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}
body > main .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  position: relative;
}

.question {
  display: flex;
  border: 2px dashed black;
  box-sizing: border-box;
  padding: 10px;
  gap: 5%;
}
.question aside {
  box-sizing: border-box;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question aside a img {
  width: 100%;
  height: auto;
  padding-bottom: 25%;
}
.question aside .rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question aside .rate .upvote,
.question aside .rate .downvote {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50% 50%;
  border-width: 1px;
  background-color: transparent;
}
.question aside .rate .upvote img,
.question aside .rate .downvote img {
  width: 100%;
  height: 100%;
}
.question aside .rate .upvote:hover {
  background-color: rgba(15, 168, 4, 0.5);
}
.question aside .rate .downvote:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.question aside .rate .rating {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.question .question_content {
  box-sizing: border-box;
}
.question .question_content h3 > a {
  text-decoration: none;
  color: #006fee;
}
.question footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.question_tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.question_tags * {
  background-color: aquamarine;
  padding: 5px;
  text-decoration: none;
  color: blue;
  border-radius: 0.5rem;
}

main > aside {
  box-sizing: border-box;
  padding-right: 20px;
  width: 25%;
  position: sticky;
  top: 0px;
}
main > aside .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-family: "Sour";
}
main > aside > div {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > aside .members {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-family: "Sour";
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 10%;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pagination a {
  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  text-decoration: none;
}

body > footer {
  position: relative;
  bottom: 0;
  background-color: black;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sour";
  font-size: 2rem;
}

.wrong {
  color: red;
}

main form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 60%;
  gap: 1rem;
  justify-content: center;
  position: relative;
}
main form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main form input[type=email],
main form input[type=password],
main form input[type=text] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px red;
  width: 75%;
  box-sizing: border-box;
}
main form input[type=email]:focus,
main form input[type=password]:focus,
main form input[type=text]:focus {
  outline: none;
  border: solid 2px #2974ec;
}
main form input[type=submit] {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(41, 116, 236, 0.6);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 25%;
}
main form textarea {
  resize: vertical;
  width: 75%;
  box-sizing: border-box;
  height: 10rem;
  padding: 0.5rem 0.25rem;
  border: 2px solid red;
  border-radius: 0.5rem;
  min-height: 4rem;
}
main form textarea:focus {
  outline: none;
  border: 2px solid #1500ff;
}
main form .form_wrong {
  color: red;
  position: relative;
  left: 25%;
  margin-top: -1rem;
}
main form .signup_avatar {
  padding: 1rem 0;
}
main form .signup_avatar #signup_avatar {
  width: 75%;
}

.password_field {
  position: relative;
}
.password_field input {
  padding-right: 24px;
}
.password_field img {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  margin-right: 8px;
}
.password_field img:hover {
  cursor: pointer;
}

.have_account,
.create_account {
  position: relative;
  left: 15%;
}

.marked {
  width: 100%;
  margin-top: 1rem;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.asked_question {
  border: none;
  border-bottom: 2px solid black;
}

.leave_answer {
  border-top: 2px solid black;
}

.leave_answer_form {
  width: 100%;
}
.leave_answer_form textarea {
  width: 100%;
}
.leave_answer_form input {
  margin-left: 0 !important;
}
.leave_answer_form .form_wrong {
  position: static;
}

nav.logged {
  display: flex;
  flex-direction: row;
}
nav.logged img {
  width: 3rem;
  height: 3rem;
}
nav.logged .logged_user_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav.logged .logged_user_info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
nav.logged .logged_user_info div a {
  padding: 0;
}

.settings_form input[type=text], .settings_form input[type=email] {
  border: 2px solid black;
}
.settings_form img {
  width: 7rem;
  height: 7rem;
  border: 1px solid black;
}
.settings_form .settings_avatar {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
